<h2 mat-dialog-title>
  編輯磅單資訊
</h2>

<mat-dialog-content class="post-form">
  <form [formGroup]="editWeightNoteForm">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="First name" [value]="data.weightNote.carNo">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Long Last Name That Will Be Truncated">
          </mat-form-field>
        </td>
      </tr>
    </table>




  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="primary">存檔</button>
  <button mat-button mat-dialog-close color="warn">取消</button>
</mat-dialog-actions>
