<h2 mat-dialog-title>
  <span [innerHTML]="title"></span>
</h2>

<mat-dialog-content class="post-form">
  <!--  <form [formGroup]="editWeightNoteForm"> -->


  <!--  <div *ngFor="let item of productSource">     -->
  <!-- <ul>
      　<li class="testInline" *ngFor="let item of productSource">
        <button mat-stroked-button (click)="addItemToShowList(item)">
          {{item.productName}}
        </button>
      </li>
    </ul> -->
  <div> 進貨品項 : </div>
  <span *ngFor="let item of productSource">
    <button mat-stroked-button (click)="addItemToShowList(item)">
      {{item.productName}}
    </button>
  </span>



  <!--  <button mat-stroked-button (click)="addItemToShowList(item)" >
              {{item.productName}}
            </button> -->


  <!-- <button mat-button [attr.testV]="testgg" (click)="addItem(item.id)">{{item.ProductName}}</button> -->
  <!-- <button mat-button (click)="selectorSource2.push(['333'])">鋼筋</button> -->
  <!--  <button mat-button (click)="addItem($event)">鋼筋</button>
          <button mat-button>廢銑鐵</button>
          <button mat-button>關刀鐵</button>
          <button mat-button>特工</button>
          <button mat-button>工一</button>
          <button mat-button>工二</button>
          <button mat-button>鐵屑</button>
          <button mat-button>鐵罐</button>
          <button mat-button>304粗</button>
          <button mat-button>304屑</button>
          <button mat-button>鋁粗料</button>
          <button mat-button>鋁屑</button>
          <button mat-button>銅粗料</button>
          <button mat-button>銅屑</button>
          <button mat-button>馬達</button>
          <button mat-button>電池</button>
          <button mat-button>廢銑代工</button> -->
  <!--  </div> -->


  <!-- <mat-list role="list">
      <mat-list-item style="display: inline;" role="listitem" *ngFor="let item of showItemList">12{{item.productName}}
        <input matInput type="number" [id]="item.id"></mat-list-item>
    </mat-list> -->
  <div> 已選{{showItemList.length}}項 , 比例加總 : <span [class.color-alert]="totalNum > 1">{{totalNum | percent}}</span>
  </div>
  <mat-list class="mat-list-inline-block">
    <ng-container *ngFor="let item of showItemList; let even = even">
      <mat-list-item *ngIf="even">
        <mat-icon (click)="RemoveItemOfShowList(item)">cancel</mat-icon>
        {{item.productName}}
        <span [innerHTML]="item.percentage | percent"></span>
        <button mat-icon-button (click)="calPercent(item,-0.1)">
          <mat-icon class="color-alert">remove_circle</mat-icon>
        </button>
        <button mat-icon-button (click)="calPercent(item,0.1)">
          <mat-icon class="color-primary">add_circle</mat-icon>
        </button>
      </mat-list-item>
    </ng-container>
  </mat-list>
  <mat-list class="mat-list-inline-block">
    <ng-container *ngFor="let item of showItemList; let odd = odd">
      <mat-list-item *ngIf="odd">
        <mat-icon (click)="RemoveItemOfShowList(item)">cancel</mat-icon>
        {{item.productName}}
        <span [innerHTML]="item.percentage | percent"></span>
        <button mat-icon-button (click)="calPercent(item,-0.1)">
          <mat-icon class="color-alert">remove_circle</mat-icon>
        </button>
        <button mat-icon-button (click)="calPercent(item,0.1)">
          <mat-icon class="color-primary">add_circle</mat-icon>
        </button>
      </mat-list-item>
    </ng-container>
  </mat-list>

  <!-- <ul style="display: inline-block; vertical-align: top;">
      <ng-container *ngFor="let item of showItemList; let even = even">
        　<li *ngIf="even">
          <span>
            {{item.productName}}
            <input type="number" [id]="item.id">
          </span>
        </li>
      </ng-container>
    </ul>
    <ul style="display: inline-block; vertical-align: top;">
      <ng-container *ngFor="let item of showItemList; let odd = odd">
        　<li *ngIf="odd">
          <span>
            {{item.productName}}
            <input type="number" [id]="item.id">
          </span>
        </li>
      </ng-container>
    </ul> -->




  <!-- <mat-list style="display: inline-block;">
      <ng-container *ngFor="let item of showItemList; let odd = odd">
        <mat-list-item *ngIf="odd" >
          <mat-icon (click)="RemoveItemOfShowList(item)">cancel</mat-icon>
          {{item.productName}}
          <span [innerHTML]="item.percentage | percent"></span>
          <button mat-icon-button (click)="calPercent(item,-0.1)">
            <mat-icon style="color: red;">remove_circle</mat-icon>
          </button>
          <button mat-icon-button (click)="calPercent(item,0.1)">
            <mat-icon style="color: blue;">add_circle</mat-icon>
          </button>
        </mat-list-item>
      </ng-container>
    </mat-list> -->



  <!-- <ul>
      　<li *ngFor="let item of showItemList">
        <span>
          {{item.productName}}
          <input type="number" [id]="item.id">
        </span>


      </li>
    </ul> -->



  <!-- <div style="display: inline;" *ngFor="let item of showItemList">
          {{item.productName}}
          <input matInput type="number" placeholder="Font size (px)" [id]="item.id" min="10">
        </div> -->

  <div> 建議扣重 : {{sugSubWeight}} Kg</div>
  <div>
    <button mat-stroked-button (click)="CalSugSubWeight(-10)">
      -10
    </button>
    <button mat-stroked-button (click)="CalSugSubWeight(-50)">
      -50
    </button>
    <button mat-stroked-button (click)="CalSugSubWeight(-100)">
      -100
    </button>
    <button mat-stroked-button (click)="CalSugSubWeight(-200)">
      -200
    </button>
  </div>
  <div>
    <button mat-stroked-button (click)="CalSugSubWeight(10)">
      +10
    </button>
    <button mat-stroked-button (click)="CalSugSubWeight(50)">
      +50
    </button>
    <button mat-stroked-button (click)="CalSugSubWeight(100)">
      +100
    </button>
    <button mat-stroked-button (click)="CalSugSubWeight(200)">
      +200
    </button>
  </div>
  <div>
    <button mat-stroked-button (click)="CalSugSubWeight(0)">
      不扣重
    </button>
  </div>


  <!--   <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <span [innerHTML]="'車牌:'+data.weightNote.carNo"></span>
        </td>
        <td>
          <span>重車重: {{data.weightNote.fullWeight}}</span>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="建議扣重">
          </mat-form-field>
        </td>
      </tr>
    </table> -->







<!--   </form> -->

</mat-dialog-content>

<mat-dialog-actions align="center">
  <button [(ngModel)]="isSubmit" ngDefaultControl mat-button color="primary" [disabled]="isSubmit">存檔</button>
  <button mat-button mat-dialog-close color="warn">取消</button>
</mat-dialog-actions>
