$color-red: red;
$color-blue: blue;

.color-alert {
  color: $color-red;
}

.color-primary {
  color: $color-blue;
}

.mat-list-inline-block {
  display: inline-block;
  vertical-align: top;
}
