<app-procurement-check-list [dataSource]="dataSource">
</app-procurement-check-list>

<!-- <button mat-fab color="warn" class="add-fab" (click)="createWeightNoteByDialog()"
  *ngIf='openIdConnectService.userAvailable'>
  <mat-icon aria-label="Add Weightnote" svgIcon="baseline-add"></mat-icon>
</button> -->
<mat-slider vertical ></mat-slider>

<button mat-fab color="warn" class="add-fab" (click)="createWeightNoteByDialog()">
  <mat-icon aria-label="Add Weightnote" svgIcon="baseline-add"></mat-icon>
</button>
