.table-header {
  min-height: 64px;
  padding: 8px 24px 0;
}
.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  overflow: auto;
}

.add-fab {
  position: fixed;
  z-index: 1000;
  right: 40px;
  bottom: 50px;
}

