<div class="table-container mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="carNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 車牌 </th>
      <td mat-cell *matCellDef="let p"> {{p.carNo}} </td>
    </ng-container>

    <ng-container matColumnDef="fullWeight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 重車重 </th>
      <td mat-cell *matCellDef="let p"> {{p.fullWeight}} </td>
    </ng-container>

    <ng-container matColumnDef="ingredient">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden-xs-column"> 品項比例 </th>
      <td mat-cell *matCellDef="let p" class="hidden-xs-column"> {{p.ingredient}} </td>
    </ng-container>

    <ng-container matColumnDef="defectiveWeight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden-xs-column"> 建議扣重 </th>
      <td mat-cell *matCellDef="let p" class="hidden-xs-column"> {{p.defectiveWeight}} </td>
    </ng-container>

    <ng-container matColumnDef="defectiveReason">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden-xs-column"> 扣重原因 </th>
      <td mat-cell *matCellDef="let p" class="hidden-xs-column"> {{p.defectiveReason}} </td>
    </ng-container>

    <ng-container matColumnDef="excavatorOpEmpNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden-xs-column"> 驗貨員工編號 </th>
      <td mat-cell *matCellDef="let p" class="hidden-xs-column"> {{p.excavatorOpEmpNo}} </td>
    </ng-container>

    <ng-container matColumnDef="createTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden-xs-column"> 進貨單建立時間 </th>
      <td mat-cell *matCellDef="let p" class="hidden-xs-column"> {{p.createTime  | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
    </ng-container>

    <ng-container matColumnDef="operateAction">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden-xs-column"> 功能操作 </th>
      <td mat-cell *matCellDef="let p" class="hidden-xs-column">
        <!-- <button type="submit" mat-raised-button color="primary" class="submit-button">過站</button> -->
        <button mat-flat-button color="primary" (click)="showWeightNoteDialog()">編輯</button>
        <button mat-flat-button color="warn" (click)="showWeightNoteDialog()">過站</button>
        <!-- <app-weightnoteinfo-dialog></app-weightnoteinfo-dialog> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>
</div>
<button mat-fab color="warn" class="add-fab" (click)="createWeightNoteByDialog()"
  *ngIf='openIdConnectService.userAvailable'>
  <mat-icon aria-label="Add Weightnote" svgIcon="baseline-add"></mat-icon>
</button>
