<mat-tab-group>
  <mat-tab label="未完成">
    <mat-horizontal-stepper>
      <mat-step label="怪手驗貨">
        <h4>待驗貨</h4>
        <app-procurement-check-site></app-procurement-check-site>
      </mat-step>
      <mat-step label="空車過磅">
        <h4>空車過磅</h4>
        <app-procurement-weight-site></app-procurement-weight-site>
      </mat-step>
      <mat-step label="交易付款">
        <h4>付款項</h4>
        <app-procurement-pay-site></app-procurement-pay-site>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-tab>
  <mat-tab label="已完成">
    出貨流程
  </mat-tab>
</mat-tab-group>
